body
{
	position: relative;
	font-family: 'Macondo', cursive;
	background-color: white;
}
#heading
{   
	position: relative;
	left: 10%;
    width: 70%;
	background: rgb(255 0 138 / 50%);
	padding: 20px;
	border: 3px solid #ff00bf;
	border-radius: 25px;
	box-shadow: 0 0 8px 3px #fff;
	margin: 10% 0 10% 0;
}
#text
{
	text-align: center;
	color: #ffffff;
}
#quiz
{
    	width: 70%;
    	position: relative;
    	left:10%;
    	top: 40%;
    	transform: translateX(-50) translateY(-50);
		background: rgba(255,255,255,0.5);
		padding: 20px;
		border: 3px solid #ff00bf;
		border-radius: 25px;
		box-shadow: 0 0 8px 3px #fff;
		margin: 10% 0 10% 0;
	
}
#question
{
	width: 90%;
   	padding: 3%;
   	font-size: 22px;
   	background: rgb(255 0 138 / 50%);
   	border-radius: 10px;
   	margin: 3% 0 3% 0;
   	color: #f6f6f6;
}
.option{
	width: 90%;
	display: inline-block;
	padding: 3% 0 3% 0;
	background: rgb(255 0 138 / 50%);
	margin: 5% 0 5% 5%;
	color: #fff;
	border: 2px solid #ff00bf; 
	border-radius:5px;
}

.main
{
	position: absolute;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
   	background-size: 100%;
   	background-color: white;
	width: 100%;
	height: 500px;
	padding-top: 15%;
}

.frame {
	position: relative;
	width: 100%;
	height: 15%;
	margin: 40px auto;
	text-align: center;
}

.custom-btn {
	width: 80%;
	height: 100%;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
	outline: none;
	font-family: 'Macondo', cursive;
	font-size: 2em;
}

.btn {
	border: none;
	background: rgb(251, 33, 117);
	background: linear-gradient(0deg, rgba(251, 33, 117, 0.7) 0%, rgba(234, 76, 137, 1) 100%);
	color: #fff;
	overflow: hidden;
}

.btn:hover {
	text-decoration: none;
	color: #fff;
}

.btn:before {
	position: absolute;
	content: '';
	display: inline-block;
	top: -180px;
	left: 0;
	width: 30px;
	height: 100%;
	background-color: #fff;
	animation: shiny-btn1 3s ease-in-out infinite;
}

.btn:hover {
	opacity: .7;
}

.btn:active {
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .2), inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@-webkit-keyframes shiny-btn1 {
	0% {
		-webkit-transform: scale(0) rotate(45deg);
		opacity: 0;
	}

	80% {
		-webkit-transform: scale(0) rotate(45deg);
		opacity: 0.5;
	}

	81% {
		-webkit-transform: scale(4) rotate(45deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(50) rotate(45deg);
		opacity: 0;
	}
}

#buttons
{
	width: 90%;
	display: table;
	padding: 3% 0 3% 0;
	background: rgb(255 0 138 / 50%);
	margin: 5% 0 5% 5%;
	color: #fff;
	border: 2px solid #ff00bf; 
	border-radius:5px;
	
}

.option:hover{
	background: #ffffff;
	color: #000000;	
}
#next
{
	font-family: 'Macondo' cursive; 
	background-color: rgb(255 0 138);
	width: 45%;
	height: 50px;
	border: 1px solid #ff00bf;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	margin: 5% 0 5% 3%;
}
#next:hover{
	background-color:rgb(255, 255, 255);
	color: #ff00bf;
}
#quit
{
	font-family: 'Macondo' cursive; 
	background-color: rgb(255 0 138);
	width: 45%;
	height: 50px;
	border: 1px solid #ff00bf;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	margin: 5% 0 5% 3%;
	
}
#quit:hover{
	background-color:rgb(255, 255, 255);
	color: #ff00bf;
}
#result
{
	position: relative;
	font-family: 'Macondo' cursive; 
	background-color: rgb(255 0 138);
	left: 10%;
	top: 100%;
	width: 80%;
	border: 1px solid #ff00bf;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	text-align: center;
	padding: 0 0 110% 0;
	font-size: 1em;
	color: rgb(255, 255, 255);
	background-image: url("cat.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 250%;
	background-position-y: bottom;
}

